/*variables for changing from lightmode to darkmode*/
:root {
    --main: white;
    --second: black;
    --alt: #333;
}

/*general styles*/
* {
    box-sizing: border-box;
    position: relative;

    z-index: 5;
}

body {
    font-family: sans-serif;

    color: var(--second);
    background-color: var(--main);
}

main {
    display: block;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.hidden {
    visibility: hidden;

    z-index: 0;
}

.btn {
    border-radius: 5%;
    border: 2.5px solid var(--alt);

    font-weight: bold;

    color: var(--alt);
    background-color: var(--main);
}

.btn:hover {
    cursor: pointer;

    color: var(--main);
    background-color: var(--alt);
}

.clicked {
    color: var(--main);
    background-color: var(--alt);
}

/*footer and header*/
h1 {
    display: block;

    width: 400px;

    margin: auto;
    margin-top: 25px;
    text-align: center;
}

p {
    width: 400px;

    margin: 20px auto;
    text-align: center;

    font-size: 14px;

    opacity: 95%;
}

p.footnote {
    margin-top: 10px;
    margin-bottom: 0px;

    font-size: 12px;
}

a {
    font-size: 14px;

    color: var(--alt);
    
    text-decoration: none ;
}

a:hover {
    color: var(--alt);
    
    text-decoration: underline;
}

/*difficulty screen*/
#difficulty_settings {
    position: absolute;
    display: block;

    z-index: 10;
    
    width: 410px;
    height: 200px;

    left: 0;
    right: 0;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    border-radius: 2%;
    border: 1px solid var(--second);

    color: var(--second);
    background-color: var(--main);
}

.diff {
    width: 90px;
    height: 30px;
}

.confirm {
    display: block;

    width: 90px;
    height: 40px;
    
    margin: 25px auto 0px;
}

.warning {
    display: block;

    margin-top: 10px;

    font-weight: bold;   
}

/*sudoku board*/
table {
    display: inline-block;

    width: 405px;
    min-width: 300px;
    max-width: 405px;
    aspect-ratio: 1/1;

    margin: auto;

    border: 1px solid var(--alt);
}

.box-row, .in-box-row {
    display: block;
    
    width: 100%;
    height: 33.3%;
}

.box, .cell {
    display: inline-block;
    
    width: 33.3%;
    height: 100%;
    
    border: 1.25px solid var(--alt);
}

.cell {
    text-align: center;
}

input {
    display: block;

    width: 100%;
    height: 100%;

    text-align: center;

    outline: none;
    border: none;

    color: var(--alt);
    opacity: 90%;
    background-color: inherit;
}

input:disabled {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
    font-weight: bold;
}

/*number markers*/
.marker-holder {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
    
    margin: auto 30px;
}

#markers {
    list-style: none;
    padding: 0;
    height: 100%;
}

#markers li {
    margin: 20px 0;

    font-weight: bold;
    
    color: var(--alt);
}

/*colormode & new puzzle buttons*/
.mode-selector, .reset {
    display: block;

    width: 90px;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

/*win screen*/
#win_screen {
    position: absolute;
    display: block;

    z-index: 10;
    
    width: 410px;
    height: 450px;

    left: 0;
    right: 0;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    border: 2px solid var(--second);
    border-radius: 2%;

    color: var(--alt);
    background-color: var(--main);
}

#win_screen.heading {
    margin-top: 30px;
    margin-bottom: 5px;
}

#win_screen.subheading {
    margin-top: 5px;
}

#stats {
    width: 90%;
    margin-top: 75px;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;

    border: 1.5px solid var(--second);
    border-radius: 3%;
}

.stat-label {
    width: fit-content;

    margin: 8px auto 5px;

    font-size: 15px;
}

.stat-label h3 {
    margin: 0;
    
    font-size: 16px;
}

.stat-holder {
    margin-bottom: 10px;
}

.stat-block {
    display: inline-block;

    width: 150px;
    height: 95px;
    margin-right: 10px;
    margin-left: 10px;
    
    vertical-align: top;
    
    border: 1px solid var(--second);
    border-radius: 5%;

    color: var(--main);
    background-color: var(--alt);
}

.stat-block h4 {
    width: 100px;

    margin: 10px auto;
}

.stat-block div {
    width: 50px;
    height: 20px;

    margin: auto;

    font-weight: bold;
}

#new_game {
    width: 150px;
    height: 75px;

    margin-bottom: 30px;

    border-radius: 5%;
    border: 2.5px solid var(--second);

    font-weight: bold;

    color: var(--main);
    background-color: var(--second);
}

#new_game:hover {
    cursor: pointer;

    color: var(--second);
    background-color: var(--main);
}