/*variables for changing from lightmode to darkmode*/
:root {
  --main: white;
  --second: black;
  --alt: #333;
  --greener: #009a00;
}

/*general styles*/
* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;

  z-index: 5;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: sans-serif;

  color: var(--second);
  background-color: var(--main);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  gap: 2vw;
  padding: 3vw;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.hidden {
  visibility: hidden;

  z-index: 0;
}

.btn {
  border-radius: 5%;
  border: 2.5px solid var(--alt);

  font-weight: bold;

  color: var(--alt);
  background-color: var(--main);
}

.btn:hover {
  cursor: pointer;

  color: var(--main);
  background-color: var(--alt);
}

.clicked {
  color: var(--main);
  background-color: var(--alt);
}

/*footer and header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  display: block;

  width: 70vw;

  text-align: center;
}

h2 {
  display: block;

  font-size: 4vw;

  text-align: center;
}

p {
  text-align: center;

  font-size: 4vw;

  opacity: 95%;
}

p.footnote {
  font-size: 3.5vw;
}

a {
  font-size: 4vw;

  color: var(--alt);

  text-decoration: none;
}

a:hover {
  color: var(--alt);

  text-decoration: underline;
}

img {
  display: block;
  width: 30%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}

/*difficulty screen*/
#difficulty_settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;

  z-index: 10;

  width: 94vw;
  height: 60vw;

  /* left: 0;
  right: 0; */
  text-align: center;
  padding: 1vw;

  border-radius: 2%;
  border: 2px solid var(--second);

  color: var(--second);
  background-color: var(--main);
}

.diff-btn-holder {
  display: flex;
  gap: 2vw;
}

.diff {
  width: 20vw;
  height: 15vw;
  font-size: 3.4vw;
  font-weight: bolder;
}

#easy {
  grid-area: easy;
}
#medium {
  grid-area: medium-diff;
}
#hard {
  grid-area: hard;
}
#very {
  grid-area: very;
}

.confirm {
  display: block;

  font-size: 3.5vw;

  width: 30vw;
  height: 15vw;
  grid-area: confirm;
}

.warning {
  display: block;
  font-weight: bold;
  grid-area: warning;
  height: 3vw;
}

#difficulty_settings .heading {
  grid-area: title;
}

/*sudoku board*/
table {
  display: inline-block;

  width: 96vw;
  aspect-ratio: 1/1;

  border: 1px solid var(--alt);
}

.box-row,
.in-box-row {
  display: block;

  width: 100%;
  height: 33.3%;
}

.box,
.cell {
  display: inline-block;

  width: 33.3%;
  height: 100%;

  border: 1.25px solid var(--alt);
}

.cell {
  text-align: center;
}

input {
  display: block;

  width: 100%;
  height: 100%;

  text-align: center;
  font-size: 3.5vw;

  outline: none;
  border: none;

  color: var(--alt);
  opacity: 90%;
  background-color: inherit;
}

input:disabled {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
  font-weight: bold;
}

/*number markers*/
.marker-holder {
  display: inline-block;
  height: 50vh;

  font-size: 3vw;
}

#markers {
  list-style: none;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

#markers li {
  font-weight: bold;

  color: var(--alt);
}

/*colormode & new puzzle buttons*/
.mode-selector,
.reset {
  display: block;
  width: 40%;
  font-size: 3vw;
  height: 9vw;
}

/*win screen*/
#win_screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;

  z-index: 10;

  width: 90%;
  height: 90vw;

  left: 0;
  right: 0;
  text-align: center;

  border: 2px solid var(--second);
  border-radius: 2%;

  color: var(--alt);
  background-color: var(--main);
}

#winscreen-heading {
  font-size: 6vw;
}

#winscreen-subheading {
  font-size: 4vw;
}

#stats {
  width: 75vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1.5px solid var(--second);
  border-radius: 3%;
}

.stat-holder {
  width: 70vw;
}

.stat-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.stat-label {
  width: fit-content;
  font-size: 4vw;
}

.stat-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  text-align: center;
  width: 30vw;
  height: 22vw;

  vertical-align: top;

  border: 1px solid var(--second);
  border-radius: 5%;

  color: var(--main);
  background-color: var(--alt);

  font-size: 3.3vw;
}

.winscreen-buttons-div {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

.winscreen-btn {
  position: relative;
  display: inline-blockblock;
  width: 30vw;
  height: 18vw;
  font-size: 3.5vw;

  border-radius: 5%;
  border: 2.5px solid var(--second);

  font-weight: bold;

  color: var(--main);
  background-color: var(--second);
}

.winscreen-btn:hover {
  cursor: pointer;

  color: var(--second);
  background-color: var(--main);
}

#share {
  background-color: green;
}

#share:hover {
  background-color: var(--greener);
  color: var(--main);
}

/* share screen */
#share_screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  z-index: 10;

  width: 90vw;
  height: 84vw;

  text-align: center;

  border: 2px solid var(--second);
  border-radius: 2%;

  color: var(--alt);
  background-color: var(--main);
}

.share-block {
  height: 12vw;
}

.share-block .heading {
  font-size: 5vw;
}

#new_from_share {
  width: 60%;
}

.copy {
  width: 24vw;
  height: 9vw;
}

.copy:hover {
  background-color: var(--greener);
  color: var(--alt);
}

#string_display,
#stats_display {
  font-size: 4vw;
  height: 9vw;
  overflow-wrap: break-word;
}

@media screen and (min-width: 470px) {
  table {
    width: 60vw;
  }

  input {
    font-size: 2.7vw;
  }

  .reset,
  .mode-selector {
    height: 5vw;
    width: 22vw;
  }

  .game-heading {
    font-size: 6vw;
  }

  .game-subheading {
    font-size: 2.7vw;
  }

  a {
    font-size: 2.7vw;
  }

  footer .footnote {
    font-size: 2.7vw;
  }

  #difficulty_settings {
    height: 44vw;
    width: 84vw;
  }

  .diff {
    width: 18vw;
    height: 10vw;
  }

  .confirm {
    width: 24vw;
    height: 11vw;
  }

  .warning {
    font-size: 3.3vw;
  }

  #win_screen {
    height: 66vw;
    width: 80vw;
  }

  #winscreen-heading {
    font-size: 5vw;
  }

  #stats {
    width: 70vw;
    height: 30vw;
  }

  #stats h3 {
    font-size: 4vw;
  }

  #new_puzzle,
  #share {
    width: 25vw;
    height: 10vw;
  }

  .stat-block {
    height: 18vw;
  }

  .stat-block h4 {
    font-size: 2.5vw;
  }

  #share_screen {
    height: 70vw;
    width: 70vw;
  }

  #share_screen .heading {
    font-size: 3.5vw;
  }

  #new_from_share {
    width: 30vw;
    height: 10vw;
    font-size: 2.4vw;
  }
}

@media screen and (min-width: 670px) {
  table {
    width: 40vw;
  }

  input {
    font-size: 1.8vw;
  }

  .marker-holder {
    font-size: 1.7vw;
  }

  h1.game-heading {
    font-size: 4vw;
  }

  p.game-subheading {
    font-size: 1.8vw;
  }
  header a {
    font-size: 1.8vw;
  }

  .reset,
  .mode-selector {
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
  }

  footer .footnote {
    font-size: 1.5vw;
  }

  #difficulty_settings {
    height: 30vw;
    width: 60vw;
  }

  .diff {
    width: 12vw;
    height: 5vw;
    font-size: 2vw;
  }

  .confirm {
    width: 18vw;
    height: 7vw;
    font-size: 2.3vw;
  }

  .warning {
    height: 3vw;
    font-size: 2vw;
  }

  #win_screen {
    height: 50vw;
    width: 60vw;
  }

  #winscreen-heading {
    font-size: 3vw;
  }

  #winscreen-subheading {
    font-size: 2.4vw;
  }

  #stats {
    width: 50vw;
    height: 26vw;
  }

  #stats h3 {
    font-size: 2.4vw;
  }

  .stat-holder {
    width: 50vw;
  }

  .stat-block {
    width: 20vw;
    height: 16vw;
  }

  .stat-block h4 {
    font-size: 2vw;
  }

  .winscreen-buttons-div {
    width: 50vw;
  }

  #new_puzzle,
  #share {
    width: 20vw;
    height: 8vw;
    font-size: 2vw;
  }

  #share_screen {
    height: 48vw;
    width: 50vw;
  }

  #share_screen .heading {
    font-size: 2vw;
  }

  button.copy.btn {
    width: 12vw;
    height: 4vw;
  }

  #new_from_share {
    width: 20vw;
    height: 8vw;
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 900px) {
  main {
    padding: 2vw;
    height: 27vw;
  }

  table {
    width: 30vw;
  }

  input {
    font-size: 1vw;
  }

  .marker-holder {
    font-size: 1.3vw;
  }

  .game-heading {
    font-size: 3vw;
  }

  .game-subheading {
    font-size: 1vw;
  }
  a {
    font-size: 1vw;
  }

  .reset,
  .mode-selector {
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
  }

  footer .footnote {
    font-size: 1vw;
  }

  #difficulty_settings {
    height: 25vw;
    width: 44vw;
  }

  .heading {
    font-size: 2.5vw;
  }

  .diff {
    width: 8.5vw;
    height: 5vw;
    font-size: 1.3vw;
  }

  .confirm {
    width: 10vw;
    height: 5vw;
    font-size: 1.4vw;
  }

  .warning {
    height: 2vw;
    font-size: 1.5vw;
  }

  #win_screen {
    height: 30vw;
    width: 38vw;
  }

  #winscreen-heading {
    font-size: 2vw;
  }

  #winscreen-subheading {
    font-size: 1.2vw;
  }

  #stats {
    width: 33vw;
    height: 14vw;
  }

  #stats h3 {
    font-size: 1.3vw;
  }

  .stat-holder {
    width: 30vw;
  }

  .stat-block {
    width: 12vw;
    height: 8vw;
  }

  .stat-block h4 {
    font-size: 1.3vw;
  }

  .winscreen-buttons-div {
    width: 33vw;
  }

  #new_puzzle,
  #share {
    width: 12vw;
    height: 5vw;
    font-size: 1.1vw;
  }

  #share_screen {
    height: 33vw;
    width: 34vw;
  }

  #share_screen .heading {
    font-size: 1.5vw;
  }

  button.copy.btn {
    width: 10vw;
    height: 2vw;
  }

  .share-block {
    height: 10vw;
  }

  #stats_display,
  #string_display {
    height: 6.5vw;
  }

  #new_from_share {
    width: 14vw;
    height: 4vw;
    font-size: 1vw;
  }
}
